@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@400;500;600;800&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

img{
    width: 100%;
}
.navbarr{
    display: grid;
    grid-template-columns: 0.8fr 1.8fr 0.2fr;
    column-gap: 30px;
    background-color: rgb(85, 82, 82);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navlogo{
    padding-left: 35%;
    margin: 7% 6% 8%;
    color: rgb(220, 231, 231);
}
.navlogo h2{
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 4px;
}

.nav-items ul{
    margin-top: 3.6%;
}

.nav-items ul li{
    display: inline;
}

.nav-items ul li a{
    margin: 7% 4%;
    text-decoration: none;
    color: rgb(216, 222, 228);
    font-weight: 300;
    font-size: 0.9rem;
}

img{
    width: 100%;
    margin-top: 60px;
    z-index: -1;
    position: relative;
}

.lessopacitycont{
    background-color: white;
    opacity: 0.6;
    width: 545px;
    margin: auto;
    padding: 1% 0.8%;
    position: absolute;
    top: 50%;
    left: 30%;
}

.lessopacitycont p{
    font-weight: 600;
    font-size: 2.5rem;
    margin: 3% 22% 1%;
}

button{
    background-color: black;
    color: aliceblue;
    padding: 1% 12%;
    margin: 2% 30%;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
    border: none;
}

.shippingtxt{
    background-color: #d3d3d399;
}
.shippingtxt p{
    padding: 1%;
    margin-left: 38%;
    letter-spacing: 4px;
    word-spacing: 5px;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(21, 21, 21);
}
.main-content{
    display: inline-block;
    width: 35%;
    margin: 6% 38.6% 2%;
    letter-spacing: 5px;
    word-spacing: 5px;
}

hr{
    width: 7%;
    height: 3px;
    margin-left: 30%;
    color: black;
}
.main-content p{
    margin-left: 10%;
    margin-top: 7.7%;
}
.maindivs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 6%;
    margin-bottom: 5%;
}

.firstdiv {
    width: 70%;
    margin-left: 54%;
}

.seconddiv{
    width: 69.9%;
    margin-left: 27%;
}
.seconddiv img{
    position: relative;
    z-index: -1;
}

.thirddiv {
    width: 70%;
    margin-right: 40%;
}
.maindivs h4{
    background-color: rgb(47, 47, 47);
    color:rgb(220, 231, 231);
    text-align: center;
    padding: 6% 1%;
    font-weight: 300;
    font-size: medium;
}
.mainfooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    background-color:#303132;
    height: 270px;
}
.mainfooter p{
    color: rgb(220, 231, 231);
    text-align: center;
    letter-spacing: 1px;
    margin-top: 8%;
    font-weight: 100;
    font-size: 14px;
}
.firstfooterdiv p{
    margin-left: 40%;
}
.thirdfooterdiv p{
    margin-right: 40%;
}

#yourmail{
    background-color:#5a5b5a;
    color: white;
    border: none;
    border-radius: none;
    margin-left: 25%;
    padding: 0.4% 4%;
}
::placeholder{
    color: white;
    font-size: small;
}
